/* mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 64px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .container {
        margin-top: calc(var(--header-height) +  var(--header-sort-bar-height));
    }

    .header__cart {
        width: 70px;
        display: flex;
        justify-content: flex-end;
    }
    .header__cart-item-remove {
        display: none;
    }
    .header__cart-item-remove.item__tablet-mobile {
        display: block;
    }

    .header__sort-bar {
        display: flex;
    }

}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__logo {
        display: none;
    }
    .header__cart-list {
        width: 540px;
        right: 0;
        padding: 0 10px;
    }
    .header__cart-list::before {
        right: 1px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__search {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }

    .header__cart-list {
        width: 100vw;
        right: 0;
        padding: 0 10px;
    }

    .header__cart-list::before {
        right: 0;
    }
}